@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}

body {
    background-color: #282c34 !important;
    font-family: 'Open Sans', sans-serif;
    color: #e0e0e0 !important;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 80px;
}

.btn-primary {
    background-color: #347c3c !important; 
    color: #e0e0e0 !important; 
    border: 1px solid #347c3c !important; 
}

.btn-primary:hover {
    background-color: #408444 !important;
    border-color: #408444 !important; 
    color: #fff !important; 
}


.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.footer {
    text-align: center;
    background-color: #282c34;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer::before {
    content: "";
    padding: 10px 0;
    display: block;
    width: 75%;
    margin: 0 auto;
    border-top: 1px solid #444;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    color: #e0e0e0;
}

#navbar {
    background-color: #181c24 !important;
    padding: 15px;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #e0e0e0 !important;
}

.navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
    color: #e0e0e0 !important;
}

@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 20px;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}