@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --base-color: #282c34;
    --base-variant: #181c24;
    --text-color: #e0e0e0;
    --button-text-color: #e0e0e0;
    --button-text-color-variant: white;
    --accent-color: #347c3c;
    --accent-color-variant: #408444;
    --border-color: #545454;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}

body {
    background-color: var(--base-color) !important;
    color: var(--text-color) !important;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 80px;
}

.btn-primary {
    background-color: var(--accent-color) !important;
    color: var(--button-text-color) !important;
    border: 1px solid var(--accent-color) !important;
}

.btn-primary:hover {
    background-color: var(--accent-color-variant) !important;
    border-color: var(--accent-color-variant) !important;
    color: var(--button-text-color-variant) !important;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.footer {
    text-align: center;
    background-color: var(--base-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer::before {
    content: "";
    padding: 10px 0;
    display: block;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid var(--border-color);
}

.footer p {
    margin: 0;
    font-size: 14px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}

p {
    font-size: 1.1rem;
    font-weight: 350;
    color: var(--text-color);
}

ol {
    font-weight: 350;
    font-size: 1.1rem;
}

strong {
    font-weight: 550 !important;
}

#navbar {
    background-color: var(--base-variant) !important;
    padding: 15px;
}

.navbar-brand {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-color) !important;
}

.navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--text-color) !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-link.active {
    font-weight: 550;
}

.dropdown-menu {
    background-color: var(--base-variant) !important;
    border-color: var(--border-color) !important;
}

.dropdown-toggle:focus {
    font-weight: 550 !important;
}

.dropdown-item {
    color: #97999c !important;
}

.dropdown-item:hover {
    background-color: var(--base-color) !important;
    color: var(--text-color) !important;
}

.dropdown-item:focus {
    background-color: var(--base-variant) !important;
    color: var(--text-color) !important;

    &:hover {
        background-color: var(--base-color) !important;
    }
}

.dropdown-item.active {
    background-color: var(--base-variant) !important;
    color: var(--text-color) !important;
    font-weight: 550 !important;

    &:hover {
        background-color: var(--base-color) !important;
    }
}

.dropdown-toggle::after {
    margin-left: 10px !important;
}

#theme-switch {
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--text-color)
}

#theme-switch svg:first-child {
    display: none;
}

@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 20px;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}


/* 

Light-Mode properties
--------------------------

*/

.lightmode {
    --base-color: white;
    --base-variant: #f6f8fa;
    --text-color: black;
    --button-text-color: white;
    --button-text-color-variant: white;
    --accent-color: #2e7d32;
    --accent-color-variant: #388e3c;
    --border-color: #bbb;

    background-color: var(--base-color);
    color: var(--text-color);
}

.lightmode .navbar {
    background-color: var(--base-variant) !important;
    color: var(--text-color);
}

.lightmode .nav-link {
    color: var(--text-color);
}

.lightmode .nav-link:hover {
    color: rgb(110, 110, 110);
}

.lightmode .btn {
    background-color: var(--accent-color);
    border-color: var(--border-color);
}

.lightmode .btn:hover {
    background-color: var(--accent-color-variant);
}

.lightmode .dropdown-menu {
    background-color: var(--base-color) !important;
    border-color: var(--border-color) !important;
}

.lightmode .dropdown-item {
    color: black !important;
}

.lightmode .dropdown-item:hover {
    background-color: var(--base-variant) !important;
}

.lightmode .dropdown-item:focus {
    background-color: var(--base-color) !important;
    color: var(--text-color) !important;

    &:hover {
        background-color: var(--base-variant) !important;
    }
}

.lightmode .dropdown-item.active {
    background-color: var(--base-color) !important;
    color: var(--text-color) !important;
    font-weight: bold;

    &:hover {
        background-color: var(--base-variant) !important;
    }
}

.lightmode #theme-switch {
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    border-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightmode #theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: block;
}