<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Stock Market Protocol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="navbar-container"></div>

    <div class="container">
        <h1>About</h1>
        <p>Welcome to the Global Stock Market project page!</p>
        <p>
            Researchers have identified over 500 different characteristics that influence the stock market
            performance of firms. These anomalies often generate significant returns when used to
            construct a portfolio strategy. However, the reproducibility and future performance of these
            strategies still remain as open questions. While the initial results appear promising, there are
            ongoing concerns about whether these strategies can continue to perform well over time,
            especially in different market conditions. Many authors have proposed frameworks to address
            these issues, aiming to make the results more robust and reliable. These frameworks typically
            focus on improving the testing and validation processes to ensure that the strategies remain
            effective. Despite these advancements, the majority of studies and proposed frameworks have
            been centered around the U.S. market [1], which is well-known and widely studied. This focus
            on the U.S. market, however, overlooks the significant role played by other global markets,
            which can exhibit different dynamics and behaviors that might impact the performance of
            portfolio strategies. Therefore, there is a clear need for an open-access framework that enables
            researchers to analyze and test portfolio strategies across a wider range of global stock
            markets. Such a framework would provide valuable insights and allow researchers to better
            understand the performance of these strategies in different international contexts, ultimately
            enhancing the robustness of portfolio management research. This tool would contribute
            to the academic community by offering a more comprehensive view of portfolio strategy
            performance beyond just the U.S. market, supporting global research efforts in finance and
            investment strategy development.
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/loadComponents.js') }}"></script>
</body>

</html>